<h2 class="title">Colors</h2>


<div class="row">
  <div class="col-md">
    <div class="swatch swatch-primary"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-accent"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-neutral"></div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md">
    <div class="swatch swatch-success"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-info"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-danger"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-warning"></div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md">
    <div class="swatch swatch-dark"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-light"></div>
  </div>
</div>

<br>


<h3 class="subtitle">Color scales</h3>

<div class="row">
  <div class="col-md">
    <div class="swatch swatch-primary-50"></div>
    <div class="swatch swatch-primary-100"></div>
    <div class="swatch swatch-primary-200"></div>
    <div class="swatch swatch-primary-300"></div>
    <div class="swatch swatch-primary-400"></div>
    <div class="swatch swatch-primary-500"></div>
    <div class="swatch swatch-primary-600"></div>
    <div class="swatch swatch-primary-700"></div>
    <div class="swatch swatch-primary-800"></div>
    <div class="swatch swatch-primary-900"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-accent-50"></div>
    <div class="swatch swatch-accent-100"></div>
    <div class="swatch swatch-accent-200"></div>
    <div class="swatch swatch-accent-300"></div>
    <div class="swatch swatch-accent-400"></div>
    <div class="swatch swatch-accent-500"></div>
    <div class="swatch swatch-accent-600"></div>
    <div class="swatch swatch-accent-700"></div>
    <div class="swatch swatch-accent-800"></div>
    <div class="swatch swatch-accent-900"></div>
  </div>

  <div class="col-md">
    <div class="swatch swatch-neutral-50"></div>
    <div class="swatch swatch-neutral-100"></div>
    <div class="swatch swatch-neutral-200"></div>
    <div class="swatch swatch-neutral-300"></div>
    <div class="swatch swatch-neutral-400"></div>
    <div class="swatch swatch-neutral-500"></div>
    <div class="swatch swatch-neutral-600"></div>
    <div class="swatch swatch-neutral-700"></div>
    <div class="swatch swatch-neutral-800"></div>
    <div class="swatch swatch-neutral-900"></div>
  </div>
</div>
