* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none !important;
  }
}

html {
  @include contrast(color-neutral(50));

  font-family: font(text, family);
  font-size: 10px;
  line-height: 1.5;
}

body {
  @include contrast(none);

  font-family: inherit;
  font-size: font(text, size);
  line-height: inherit;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  font-family: font(title, family);
  font-weight: font(title, weight);
  line-height: 1.25;
}
h1 {
  font-size: font(h1, size);
  margin: font(h1, margin);
}
h2 {
  font-size: font(h2, size);
  margin: font(h2, margin);
}
h3 {
  font-size: font(h3, size);
  margin: font(h3, margin);
}
h4 {
  font-size: font(h4, size);
  margin: font(h4, margin);
}
h5 { font-size: font(h5, size); }
h6 { font-size: font(h6, size); }

hr {
  border: solid color-neutral(100);
  border-width: 2px 0 0;
  margin: 2rem 0;
}


/**
	Footer, header, main page sections
 */

.footer,
.header,
.main {
  padding: 2rem;
}


/**
	Ensure footer always stays at the bottom
 */

html,
body,
app-root {
  min-height: 100vh;
}

body,
app-root {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.footer,
.header,
.main {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}
