<h2 class="title">Cards</h2>


<div class="row">
  <div class="col-md">
    <h3 class="subtitle">Simple cards</h3>

    <mat-card>
      <p>Collaboratively administrate empowered markets via plug-and-play
        networks. Dynamically procrastinate B2C users after installed base
        benefits. Dramatically visualize customer directed convergence without
        revolutionary ROI.</p>
    </mat-card>

    <mat-card>
      <mat-card-title>Card title</mat-card-title>
      <mat-card-content>
        <p>Efficiently unleash cross-media information without cross-media
          value. Quickly maximize timely deliverables for real-time schemas.
          Dramatically maintain clicks-and-mortar solutions without functional
          solutions.</p>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="col-md-4">
    <h3 class="subtitle">Card with multiple sections</h3>

    <mat-card>
      <mat-card-title>Card title</mat-card-title>
      <mat-card-subtitle>Card subtitle</mat-card-subtitle>

      <img mat-card-image src="assets/images/backgrounds/swirl-thumb.png" alt="">

      <mat-card-content>
        <p>Completely synergize resource taxing relationships via premier niche
          markets. Professionally cultivate one-to-one customer service with
          robust ideas. Dynamically innovate resource-leveling customer service
          for state of the art customer service.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-button color="primary">Cancel</button>
        <button mat-flat-button color="primary">Continue</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
