header.header {
  background: linear-gradient(120deg, color(primary), color(accent));
  color: contrast(color(primary));
  height: 10rem;
  padding: 3rem 2rem;

  .title {
    line-height: 1;
    margin: 0;
  }
}
