<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <nav class="nav">
      <mat-nav-list>
        <a mat-list-item routerLink="/welcome" routerLinkActive="link-active">Welcome</a>
      </mat-nav-list>

      <hr>

      <h3>Components</h3>

      <mat-nav-list>
        <a mat-list-item routerLink="/autocomplete" routerLinkActive="link-active">Autocomplete</a>
        <a mat-list-item routerLink="/buttons" routerLinkActive="link-active">Buttons</a>
        <a mat-list-item routerLink="/cards" routerLinkActive="link-active">Cards</a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>


  <mat-sidenav-content>
    <header class="header">
      <h1 class="title">Material themes</h1>
    </header>

    <main class="main">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
