<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <nav class="nav">
      <mat-nav-list>
        <a mat-list-item routerLink="/welcome" routerLinkActive="link-active">Welcome</a>
      </mat-nav-list>

      <h3>Base</h3>
      <mat-nav-list>
        <a mat-list-item routerLink="/colors" routerLinkActive="link-active">Colors</a>
        <a mat-list-item routerLink="/fonts" routerLinkActive="link-active">Fonts</a>
      </mat-nav-list>

      <h3>Components</h3>
      <mat-nav-list>
        <a mat-list-item routerLink="/buttons" routerLinkActive="link-active">Buttons</a>
        <a mat-list-item routerLink="/cards" routerLinkActive="link-active">Cards</a>
        <a mat-list-item routerLink="/expansion" routerLinkActive="link-active">Expansion panels</a>
        <a mat-list-item routerLink="/forms" routerLinkActive="link-active">Forms</a>
        <a mat-list-item routerLink="/icons" routerLinkActive="link-active">Icons</a>
        <a mat-list-item routerLink="/inputs" routerLinkActive="link-active">Inputs</a>
        <a mat-list-item routerLink="/tabs" routerLinkActive="link-active">Tabs</a>
        <a mat-list-item routerLink="/toolbar" routerLinkActive="link-active">Toolbar</a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>


  <mat-sidenav-content>
    <header class="header">
      <h1 class="title">Material theme</h1>
    </header>

    <main class="main">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
