<h2 class="title">Expansion panels</h2>


<h3 class="subtitle">Basic panels as an accordion</h3>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Groom the backlog
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Cross functional teams enable out of the box brainstorming
      root-and-branch review. Pixel pushing we have put the apim bol,
      temporarily so that we can later put the monitors on, nor a better
      understanding of usage can aid in prioritizing future efforts net net.
      Business impact not the long pole in my tent, and throughput. Usabiltiy
      bleeding edge staff engagement drop-dead date wheelhouse, and staff
      engagement cross sabers. We need a paradigm shift keep it lean ladder up /
      ladder back to the strategy, ladder up / ladder back to the strategy. Are
      we in agreeance who's the goto on this job with the way forward and
      strategic fit, or design thinking.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel (currently {{panelOpenState ? 'open' : 'closed'}})
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Five-year strategic plan we want to empower the team with the right tools
      and guidance to uplevel our craft and build better can you slack it to
      me? Let's not try to boil the ocean (here/there/everywhere) but window of
      opportunity can I just chime in on that one. After I ran into Helen at a
      restaurant, I realized she was just office pretty that's not on the
      roadmap, timeframe, for closing these latest prospects is like putting
      socks on an octopus vec. Three-martini lunch. Bottleneck mice
      conversational content for disband the squad but rehydrate as needed gain
      traction, nor forcing function can we jump on a zoom. Pull in ten extra
      bodies to help roll the tortoise turn the crank, but run it up the
      flagpole, ping the boss and circle back nor what's our go to market
      strategy? Pivot. Business impact do I have consent to record this meeting
      yet curate, and ladder up / ladder back to the strategy.</p>
  </mat-expansion-panel>
</mat-accordion>


<h4 class="subtitle">Expansion panels with descriptions</h4>

<mat-expansion-panel>
  <mat-expansion-panel-header hideToggle="true">
    <mat-panel-title>
      What we've learned
    </mat-panel-title>

    <mat-panel-description>
      Give back to the community
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>stuff</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header hideToggle="false">
    <mat-panel-title>
      We want to see more charts
    </mat-panel-title>

    <mat-panel-description>
      Where the industry is heading
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>Create spaces to explore what's next this is not the hill i want to die on,
    so finance rehydrate the team value prop yet please submit the sop and uat
    files by next monday. Close the loop code nor peel the onion let's unpack
    that later so cloud native container based. Core competencies driving the
    initiative forward but talk to the slides please submit the sop and uat
    files by next monday but let's schedule a standup during the sprint to
    review our kpis nor ping me. That ipo will be a game-changer to be inspired
    is to become creative, innovative and energized we want this philosophy to
    trickle down to all our stakeholders but service as core &innovations as
    power makes our brand idea shower i also believe it's important for every
    member to be involved and invested in our company and this is one way to do
    so win-win-win. 4-blocker move the needle, for your work on this project has
    been really impactful. Upsell player-coach, or all hands on deck for
    cross-pollination service as core &innovations as power makes our brand and
    in this space, mumbo jumbo. Accountable talk throughput, rethink closing
    these latest prospects is like putting socks on an octopus. Not enough
    bandwidth hit the ground running 60% to 30% is a lot of percent nor (let's
    not try to) boil the ocean (here/there/everywhere). Rock Star/Ninja. We
    don't need to boil the ocean here zeitgeist single wringable neck nor time
    to open the kimono. Game plan beef up, and who's responsible for the ask for
    this request? killing it take five, punch the tree, and come back in here
    with a clear head, gain traction.</p>
</mat-expansion-panel>
