<h2 class="title">Components</h2>


<div class="row mat-card-grid">
  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/buttons">
      <mat-card>
        <img mat-card-image src="assets/images/demo/buttons.png" alt="">
        <mat-card-content>
          <mat-card-title>Buttons</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/cards">
      <mat-card>
        <img mat-card-image src="assets/images/demo/cards.png" alt="">
        <mat-card-content>
          <mat-card-title>Cards</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/expansion">
      <mat-card>
        <img mat-card-image src="assets/images/demo/expansion.png" alt="">
        <mat-card-content>
          <mat-card-title>Expansion panels</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/forms">
      <mat-card>
        <img mat-card-image src="assets/images/demo/forms.png" alt="">
        <mat-card-content>
          <mat-card-title>Form fields</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/icons">
      <mat-card>
        <img mat-card-image src="assets/images/demo/icons.png" alt="">
        <mat-card-content>
          <mat-card-title>Icons</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/inputs">
      <mat-card>
        <img mat-card-image src="assets/images/demo/inputs.png" alt="">
        <mat-card-content>
          <mat-card-title>Inputs</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/tabs">
      <mat-card>
        <img mat-card-image src="assets/images/demo/tabs.png" alt="">
        <mat-card-content>
          <mat-card-title>Tabs</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a class="link" routerLink="/toolbar">
      <mat-card>
        <img mat-card-image src="assets/images/demo/toolbar.png" alt="">
        <mat-card-content>
          <mat-card-title>Toolbar</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
